<!DOCTYPE html>
<html lang="en">

{% extends "base.html" %}
{% block title %}Error{% endblock %}
{% block content %}

<body class="">
<div class="container" id="about">
        <div class="card" id="contact">
          <div class="card-block">
            <h2 style="text-align: center;">Oops...</h2>
            <p id="message" style="text-align: center;">An unexpected error occured. Please try again later.</p>
          </div>
        </div>
       
     </div>
   </div>
 </div>
</div>

</main>
<script>
  document.addEventListener("DOMContentLoaded", function (event) {
     scrollRevelation('.card');
  });
</script>
<script type="text/javascript" src="./static/main.bc58148c.js"></script></body>
{% endblock %}

</html>