<!DOCTYPE html>
<html lang="en">

{% extends "base.html" %}
{% block title %}Vignesh Sinha | Portfolio{% endblock %}
{% block content %}
<body class="">
<div class="background-color-layer background-top" style="background-image: url('static/assets/images/my_pic.jpg')"
></div>
<main class="content-wrapper">
  <header class="white-text-container section-container">
    <div class="text-center">
      <h1>Vignesh Sinha</h1>
      <p>Web developer</p>
      <p>
        <a class="fa-icon fa-icon-2x" href="mailto:vigneshsinha04@gmail.com" title="Gmail">
          <i class='fa fa-google'></i>
        </a>
        <a class="fa-icon fa-icon-2x" href="https://www.linkedin.com/in/vignesh-sinha/" target="_blank" title="Linkedin profile">
          <i class="fa fa-linkedin"></i>
        </a>
        <a class="fa-icon fa-icon-2x" href="https://www.hackerrank.com/vigneshsinha04" target="_blank" title="Hackerrank profile">
          <i class='fab fa-hackerrank'></i>
        </a>
      </p>
    </div>
  </header>

 <div class="container" id="about">
   <div class="row">
     <div class="col-xs-12">

        <div class="card">
          <div class="card-block">
            <h2>About me</h2>
            <div class="row">
              <div class="col-md-4">
                <p><img src="./static/assets/images/my_pic.jpg" class="img-responsive" alt=""></p>
              </div>
              <div class="col-md-8">

              <p>I am currently working as a .Net Web application developer with Tata Consultancy services. With an overall experience of 2.8 years, my key skillset is .Net. But over the course of my software development career, I developed a huge interest in Python and it grew exponentially every day. I started learning python from online learning platform "Udemy". I successfully completed the course "Complete Python Developer in 2020: Zero to Mastery". I further enhanced my learning by attempting multiple challenges in "Hackerrank" and solved them using Python. I currently hold a 5-star gold badge in Hackerrank for Python language. I also hold a 3-star silver badge for problem solving skills in Python.</p>

              <p>To increase my hands-on experience, I started developing many tools using Python. I also wanted to develop a website using Python and this website is the outcome of it. I have included some of my Projects/tools developed using Python in the Projects section in this website.</p>
              </div>
              <p style="padding-left: 15px;">Why Python? Because, Python's readability makes it a great first programming language — it allows you to think like a programmer and not waste time with confusing syntax. With Python, we can develop web applications, data analysis, artificial intelligence, scientific computing, productivity tools, games, and desktop applications. By learning Python, we get a flexibility to work in any of above fields which will boost our career in IT/Software field unimaginably fast.</p>

            </div>
          </div>
        </div>

        <div class="card" id="work">
          <div class="card-block">
            <h2>Work</h2>
            <div class="work-experience">
              <small class="date">2017-Present</small>
              <h3 class="h5 date-title">.Net Web developer - <a href="https://www.tcs.com" title="Tata Consultancy Services">Tata Consultancy Services</a></h3>
              <p>I currently work as a .Net Web developer with Tata Consultancy services. Here my role includes developing responsive web applications using .Net Framework. I have developed many applications using MVC design pattern, .Net 3-tier architecture, Ektron CMS etc.</p>

              <p>In my 2.8 years of web development in TCS, I have worked in many projects and developed various web pages using .Net. Click on "Read More" to know about each project in detail.</p>
              <div class="form-group">
                <a type="button" class=" btn btn-primary" id="read-more-btn" href="/tcsprojects">Read More</a>
              </div>
            </div>
          </div>
        </div>

        <div class="card">
          <div class="card-block">
          <h2>Education</h2>
            <div class="row">
              <div class="col-md-4">
                <div class="education-experience">
                  <small class="date">2013-2017</small>
                  <h3 class="h5 date-title">Bachelor of Technology - EEE</h3>
                  <p>SRM University</p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="card">
          <div class="card-block">
          <h2>Skill set</h2>
          <p>Python3, Data Structures, Algorithms, C#, .Net, ASP.Net, MVC, Web Development, Dynamic Programming, SQL Server, Web Services, Ajax, Javascript, JQuery, Html5, CSS, Bootstrap, Ektron CMS, Selenium Basics, Flask Framework, Web Scraping with BeautifulSoup, Shell Scripting.</p>
          </div>
        </div>

        <div class="card" id="projects">
          <div class="card-block">
            <h2>Projects</h2>
            <p>Below are some of the Projects/tools that I developed using Python. Click on each of them to know more about details. As I am continuously working on many tools and applications, keep an eye on this section for more additions in future.</p>
            <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner" role="listbox">
              <div class="item active">
                <a href="/facedetection"><img src="./static/assets/images/face-detector.jpg" class="img-responsive carousel-auto-margin" alt="Face Detector"></a>
                <div class="carousel-caption carousel-caption-margin align-center">
                  <h3 class="h5"><a href="/facedetection" title="Library Database Tool">Face Detector</a></h3>
                </div>                                
              </div>

              <div class="item">
                <a href="/webscraping"><img src="./static/assets/images/web-scraping.jpg" class="img-responsive carousel-auto-margin" alt="web-scraping"></a>
                <div class="carousel-caption carousel-caption-margin align-center">
                  <h3 class="h5"><a href="/webscraping" title="Web Scraping">Web Scraping</a></h3>
                </div>
              </div>

              <div class="item">
                <a href="/passwordchecker"><img src="./static/assets/images/password-checker.jpg" class="img-responsive carousel-auto-margin" alt="password-checker"></a>
                <div class="carousel-caption carousel-caption-margin align-center">
                  <h3 class="h5"><a href="/passwordchecker" title="Password Checker">Password Checker</a></h3>
                </div>
              </div>

              <div class="item">
                <a href="/librarytool"><img src="./static/assets/images/library-img.jpg" class="img-responsive carousel-auto-margin" alt="Library Database Tool"></a>
                <div class="carousel-caption carousel-caption-margin align-center">
                  <h3 class="h5"><a href="/librarytool" title="Library Database Tool">Library Database Tool</a></h3>
                </div>
              </div>

              <div class="item">
                <a href="/tictactoe"><img src="./static/assets/images/tic-tac-toe.jpg" class="img-responsive carousel-auto-margin" alt="tic-tac-toe"></a>
                <div class="carousel-caption carousel-caption-margin align-center">
                  <h3 class="h5"><a href="/tictactoe" title="Tic-Tac-Toe">Tic-Tac-Toe</a></h3>
                </div>
              </div>

              <div class="item">
                <a href="/rockpaperscissor"><img src="./static/assets/images/rock-paper-scissor.jpg" class="img-responsive carousel-auto-margin" alt="rock-paper-scissor"></a>
                <div class="carousel-caption carousel-caption-margin align-center">
                  <h3 class="h5"><a href="/rockpaperscissor" title="Rock-Paper-Scissor">Rock-Paper-Scissor</a></h3>
                </div>
              </div>
            </div>
            <ol class="carousel-indicators">
              <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
              <li data-target="#carousel-example-generic" data-slide-to="1"></li>
              <li data-target="#carousel-example-generic" data-slide-to="2"></li>
              <li data-target="#carousel-example-generic" data-slide-to="3"></li>
              <li data-target="#carousel-example-generic" data-slide-to="4"></li>
              <li data-target="#carousel-example-generic" data-slide-to="5"></li>
            </ol>

          </div>
          </div>
        </div>

        <div class="card">
          <div class="card-block">
            <h2>Languages</h2>
            <div class="row">
              <div class="col-md-3">
                <div class="language-experience">
                  <h3 class="h5">English  <small>Fluent</small></h3>
                </div>
              </div>
              <div class="col-md-3">
                <div class="language-experience">
                  <h3 class="h5">Tamil  <small>Fluent</small></h3>
                </div>
              </div>
              <div class="col-md-3">
                <div class="language-experience">
                  <h3 class="h5">Telugu  <small>Fluent</small></h3>
                </div>
              </div>
              <div class="col-md-3">
                <div class="language-experience">
                  <h3 class="h5">Hindi  <small>Fluent</small></h3>
                </div>
              </div>
            </div>
          </div>
        </div>


        <div class="card">
          <div class="card-block">
            <h2>Social Network</h2>
            <div class="row">
              <div class="col-md-3">
                <p class="social-buttons"><a href="mailto:vigneshsinha04@gmail.com" title="Gmail"><span class="social-round-icon fa-icon"><i class="fa fa-google"></i></span>vigneshsinha04</a></p>
              </div>
              <div class="col-md-3">
                <p class="social-buttons"><a href="https://www.linkedin.com/in/vignesh-sinha/" target="_blank" title="Linkedin profile"><span class="social-round-icon fa-icon"><i class="fa fa-linkedin"></i></span>vignesh-sinha</a></p>
              </div>
              <div class="col-md-3">
                <p class="social-buttons"><a href="https://www.hackerrank.com/vigneshsinha04" target="_blank" title="Hackerrank profile"><span class="social-round-icon fa-icon"><i class="fab fa-hackerrank"></i></span>@vigneshsinha04</a></p>
              </div>
            </div>
          </div>
        </div>

        <div class="card" id="contact">
          <div class="card-block">
            <h2>Contact</h2>
            {% if msg=='success' %}
                <p id="message" style="text-align: center;">Thank You for contacting me. I will reach out to you as soon as possible.</p>
            {% else %}
                <form action="/contact_me" method="post" class="reveal-content" id="contact-form">
              <div class="form-group">
                <input type="text" class="form-control" id="name" required placeholder="Name" name="Name">
              </div>
              <div class="form-group">
                <input type="email" class="form-control" id="email" required placeholder="Email" name="Email">
              </div>
              <div class="form-group">
                <input type="text" class="form-control" id="subject" required placeholder="Subject" name="Subject">
              </div>
              <div class="form-group">
                <textarea class="form-control" rows="5" placeholder="Enter your message" name="Message"></textarea>
              </div>
              <div class="form-group">
                <button type="submit" class=" btn btn-primary" id="send-btn">Send message</button>
              </div>
            </form>
            {% endif %}
          </div>
        </div>
     </div>
   </div>
 </div>

</main>


<script>
  document.addEventListener("DOMContentLoaded", function (event) {
     scrollRevelation('.card');
  });
    if(window.location.pathname == '/contact_me'){
      window.location.hash = '#contact';
    }
</script>
<script type="text/javascript" src="./static/main.bc58148c.js"></script></body>
{% endblock %}

</html>