<!DOCTYPE html>
<html lang="en">

{% extends "base.html" %}
{% block title %}Password Checker{% endblock %}
{% block content %}

<body class="">
 <div class="container" id="check-password">
   <div class="row">
     <div class="col-xs-12 align-center">
        <div class="card" id="contact">
        <h1>Password Checker Tool</h1>
          <div class="card-block pwd-padding">
            <div class="col-xs-12">
              <img src="./static/assets/images/password-checker.jpg" class="img-responsive auto-margin" alt="password-checker">
            </div>
            <div class="description">
              <p>We have passwords for many of our day-to-day applications. From Emails to Bank accounts, everywhere password is something that we use to keep everything safe. But, have you ever wondered how safe is your password? Whether your Password has ever been hacked? Let's find out.</p>
              <p>This tool is a legitimately secure way to check whether any of your passwords was leaked online in any form of data breach. Yes, you heard it right. In this tool, I used the data from a website called <a href="https://haveibeenpwned.com/" target="_blank">haveibeenpwned.com</a>. This website was created by Troy Hunt, who's a very famous security researcher. This website basically has all the datas like email and passwords that were leaked in various security and data breaches which potential hackers might misuse. We can actually check if our password has ever been leaked using this website directly, but it would be highly risky to enter our password in an untrusted website. So, I created this Password checker tool that grabs all the data from the API of the website and check our password. This way we can avoid revealing our password to the website and still get our job done.</p>
              <p>In the below input box, you can enter any number of passwords with a space separated between each one to check simultaneously all the passwords. For eg. you can enter "Password1 Password2 Password3" and get details of each password at a time. On clicking the check button, if your password was ever found in a data breach, it would return the count of appearance of the password in its database.</p>
            </div>
            <h2>Check the Strength of your Password</h2>
            <form action="/check_password" method="post" class="reveal-content" id="password-form">
              <div class="form-group">
                <input type="password" class="form-control" id="password" required placeholder="Enter a Password to check
                " name="password">
              </div>
              <div class="form-group">
                <button type="submit" class=" btn btn-primary" id="send-btn">Check</button>
              </div>
            </form>
            <h3 id="output">{{text|safe}}</h3>
          </div>
        </div>
     </div>
   </div>
 </div>

</main>
<script>
  document.addEventListener("DOMContentLoaded", function (event) {
     scrollRevelation('.card');
  });
  if(window.location.pathname == '/check_password'){
      window.location.hash = '#output';
    }
</script>
<script type="text/javascript" src="./static/main.bc58148c.js"></script></body>
{% endblock %}

</html>