<!DOCTYPE html>
<html lang="en">

{% extends "base.html" %}
{% block title %}TCS Projects{% endblock %}
{% block content %}
<body class="">
 <div class="container" id="about">
   <div class="row">
     <div class="col-xs-12">
        <div class="card">
          <div class="card-block">

            <h2>Work</h2>
            <div class="work-experience">
              <small class="date">2017-Present</small>
              <h3 class="h5 date-title">.Net Web developer - <a href="https://www.tcs.com" title="Tata Consultancy Services">Tata Consultancy Services</a></h3>
              

              <p>I currently work as a .Net Web developer with Tata Consultancy services. Here my role includes developing responsive web applications using .Net Framework. I have developed many applications using MVC design pattern, .Net 3-tier architecture, Ektron CMS etc.</p>

              <p>In my 2.8 years of web development in TCS, I have worked in many projects and developed various web pages using .Net. Below are some details on the projects that I have worked.</p>

            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-block">
            <h3 class="h5 date-title">PROJECT #5</h3>
              <h4>Client</h4><p>Protective Life Insurance</p>
              <h4><h4>Role</h4><p>Web Application Developer</p>
              <h4>Title</h4><p>Liberty Microsite</p></p>
              <h4><h4>Environment</h4><p>C#, ASP.NET, Ektron CMS, Ajax, Visual Studio 2017</p>
              <h4>Description</h4>
                     <p>Liberty Microsite is a promotional website for customers to buy or get a quote of a policy they are interested in.</p>

              <h4>Responsibilities</h4><p>Creation of new web pages for Liberty Microsite using Ektron CMS and ASP.NET.</p>

 
              <h4>Key Achievements</h4>
              <p class="no-margin-bottom">• Understood the Insurance Domain knowledge</p>
              <p class="no-margin-bottom">• Involved in the requirement gathering of the pages</p>
              <p class="no-margin-bottom">• Involved in the design and the development of the web pages</p>
              <p class="no-margin-bottom">• Involved in the testing as well as deployment of the application in test and model servers</p>
          </div>
        </div>

        <div class="card">
          <div class="card-block">
            <h3 class="h5 date-title">PROJECT #4</h3>
              <h4>Client</h4><p>Protective Life Insurance</p>
              <h4><h4>Role</h4><p>Web Application Developer</p>
              <h4>Title</h4><p>Verint Live chat</p></p>
              <h4><h4>Environment</h4><p>JavaScript, ASP.NET, JQuery, MVC</p>
              <h4>Description</h4>
                     <p>Protective and its other applications have an inbuilt chat functionality using which the customers can interact with a support executive whenever they wish for.</p>

              <h4>Responsibilities</h4><p>Separation of chat functionality and all its dependencies from the Protective application and hosting it in a separate server so that it can be used by any other application based on requirement.</p>

 
              <h4>Key Achievements</h4>
              <p class="no-margin-bottom">• Involved in the analysis of Live chat functionality and all its dependencies</p>
              <p class="no-margin-bottom">• Involved in the development of Live chat functionality based on requirements</p>
              <p class="no-margin-bottom">• Solved the dependency issue faced while opening the chat in a separate window</p>
              <p class="no-margin-bottom">• Successfully hosted the Live chat in a separate server</p>
              <p class="no-margin-bottom">• Involved in integrating the Live chat with the required applications</p>

          </div>
        </div>

        <div class="card">
          <div class="card-block">
            <h3 class="h5 date-title">PROJECT #3</h3>
              <h4>Client</h4><p>Protective Life Insurance</p>
              <h4><h4>Role</h4><p>Web Application Developer</p>
              <h4>Title</h4><p>Test Data Utility</p></p>
              <h4><h4>Environment</h4><p>C# (ASP.NET), SQL Server</p>
              <h4>Description</h4>
                     <p>Test Data Utility is an internal application for the use of Protective Life Insurance agents. The tool fetches appropriate results of Policy details from the database based on the selection of various conditions the user.</p>

              <h4>Responsibilities</h4><p>Understanding requirements, Development of the application and unit testing.</p>

 
              <h4>Key Achievements</h4>
              <p class="no-margin-bottom">• Understood the ASP.NET 3 tier architecture.</p>
              <p class="no-margin-bottom">• Involved in development of the application from scratch</p>
              <p class="no-margin-bottom">• Understood and implemented the application to database connectivity using ADO.Net</p>
          </div>
        </div>

        <div class="card">
          <div class="card-block">
            <h3 class="h5 date-title">PROJECT #2</h3>
              <h4>Client</h4><p>Protective Life Insurance</p>
              <h4><h4>Role</h4><p>Web Application Developer</p>
              <h4>Title</h4><p>Sell What Matters</p></p>
              <h4><h4>Environment</h4><p>C#, ASP.NET, MVC, SQL Server</p>
              <h4>Description</h4>
                     <p>Sell what matters is a promotional website which is used to sell various policies to the customers by Protective Life Insurance.</p>

              <h4>Responsibilities</h4><p>Creation of new web pages for Sell What Matters using .Net MVC design pattern.</p>

 
              <h4>Key Achievements</h4>
              <p class="no-margin-bottom">• Understood the MVC design pattern in .Net</p>
              <p class="no-margin-bottom">• Involved in the requirement gathering of the pages</p>
              <p class="no-margin-bottom">• Involved in the design and the development of the web pages</p>
              <p class="no-margin-bottom">• Involved in the testing as well as deployment of the application in test and model servers</p>
          </div>
        </div>

        <div class="card">
          <div class="card-block">
            <h3 class="h5 date-title">PROJECT #1</h3>
              <h4>Client</h4><p>Protective Life Insurance</p>
              <h4><h4>Role</h4><p>Web Application Developer</p>
              <h4>Title</h4><p>Gemini Conversion</p></p>
              <h4><h4>Environment</h4><p>VB.Net, C#</p>
              <h4>Description</h4>
                     <p>The Gemini conversion is a process of migrating all the existing VB.Net code of the Gemini application to C# and write the test cases for the same.</p>

              <h4>Responsibilities</h4><p>Understanding requirements, Migration from VB.Net to C# and prepared unit test cases.</p>

 
              <h4>Key Achievements</h4>
              <p class="no-margin-bottom">• Involved in migration of existing VB.Net code to C#.</p>
              <p class="no-margin-bottom">• Learnt basics of VB.Net</p>
              <p class="no-margin-bottom">• Learnt to write unit test cases using Mock.</p>
          </div>
        </div>
     </div>
   </div>
 </div>

</main>
<script>
  document.addEventListener("DOMContentLoaded", function (event) {
     scrollRevelation('.card');
  });
</script>

<script type="text/javascript" src="./static/main.bc58148c.js"></script></body>
{% endblock %}

</html>